.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#welcome {
    text-align: center;
}

#logo-img {
    width: 40%;
    // margin: 5vh 18vw;
}

h2 {
    margin: 5vh 18vw;
}